# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Tags
TAGS
!TAGS/
tags
!tags/

# Linux General
*~
.directory

# PhpStorm
.idea/workspace.xml
.idea/tasks.xml

# Symfony 2 (Bundle)
vendor/*

# Composer
composer.lock
